.topic {
    /*margin: 1em 0 1em 0.5em;*/
    margin: 0 0 2em 0;
}

.topic .title * {
    font-size: 2.4rem !important;
    color: #3B5998 !important;
}

.topic-userpic {
    text-align: center;
    display: inline;
    float: right;
    border: 1px solid rgb( 185, 185, 185 );
    padding: 0.5em;
}

.topic .title a, .topic .title a:hover, .topic .title a:visited {
    color: #3B5998 !important;
    text-decoration: none;
}

.topic .content {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #B9B9B9;
    /*line-height: 1.85em;*/
    /*font-size: 0.85em;*/
    line-height: 20px;
    font-size: 1.2rem;
}

.topic .content p {
    margin: 1em 0;
}

.topic .right-meta {
    float: right;
}

.topic .left-meta {
    float: left;
}

.topic .meta {
    margin-top: 1em;
    height: 2.5em;
}

.topic .meta ul {
    margin: 0.75em;
    font-size: 0.9em;
}

.topic .meta .right-meta ul li {
    float: left;
    margin: 0 1rem;
}

.topic .meta .left-meta ul li {
    float: left;
    margin: 0 2px;
}

.topic .meta .left-meta ul li img {
    opacity: 0.5;
}

.topic-edit .title {
    font-size: 1.8em;
    color: #3B5998;
}

.topic-edit .locale {
    margin: 0.5em 0;
    font-size: 1.2em;
    position: relative;
}

.topic-edit .switch-lang {
    font-size: 1.2em;
    position: relative;
}

.topic-edit .topic-edit-form {
    margin: 0 auto;
}

