
/* review notice */

.eael-review-notice{
    padding: 15px 15px 15px 0;
    background-color: #fff;
    border-radius: 3px;
    margin: 20px 20px 0 0;
    border-left: 4px solid transparent;
  }
  .eael-review-notice:after{
    content: '';
    display: table;
    clear: both;
  }
  .eael-review-thumbnail{
    width: 114px;
    float: left;
    line-height: 80px;
    text-align: center;
    border-right: 4px solid transparent;
  }
  .eael-review-thumbnail img {
    width: 72px;
    vertical-align: middle;
    opacity: .85;
    transition: all .3s;
  }
  .eael-review-thumbnail img:hover {
    opacity: 1;
  }
  .eael-review-text{
    overflow: hidden;
  }
  .eael-review-text h3{
    font-size: 24px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.3;
  }
  .eael-review-text p{
    font-size: 13px;
    margin: 0 0 5px;
  }
  .eael-review-ul{
    margin: 0;
    padding: 0;
  }
  .eael-review-ul li{
    display: inline-block;
    margin-right: 15px;
  }
  .eael-review-ul li a{
    display: inline-block;
    color: #10738B;
    text-decoration: none;
    padding-left: 26px;
    position: relative;
  }
  .eael-review-ul li a span{
    position: absolute;
    left: 0;
    top: -2px;
  }