/* blue: #445f9d */
/* red: #bb2024 */

/*NYH*/
/*body {*/
    /*background: url(../images/snowflakes-background3.png);*/
/*}*/

html {
    font-size: 10px;
}

.roundbox {
    background-color: white;
}

body.iframed {
    overflow: hidden;
}

#body {
    padding-top: 0.75em;
    max-width: 1200px;
    min-width: 920px;
    margin: 0 auto;
}

.comment-vote-direction-1 {
    background-color: indianred;
}

.comment-vote-direction--1 {
    background-color: dodgerblue;
}

.comment-table {
    border: 1px dashed white;
}

.comment-no-indent {
    display: none;
}

.comment-indent {
    float: left;
    width: 4em;
    text-align: left;
    padding-top: 1.75em;
    display: block !important;
}

.comment-indent span {
    color: #ace;
    font-size: 1.2rem;
    font-weight: bold;
}

.highlight {
    border: 1px solid #FFC300;
    background-color: #FFF7DB !important;
}

.highlight-blue {
    border: 1px solid #7f9ddc;
    background-color: #def !important;
}

.button {
    padding: 0 1em !important;
    height: 1.65em !important;
}

a.not-decorated {
    text-decoration: none !important;
    color: black;
}

#header {
    height: 5em;
    margin: 0 1em;
}

.login-panel {
    float: right;
}

.lang-chooser {
    float: right;
    text-align: right;
}

.logo-href {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0rem;
    color: black !important;
}

#sidebar {
    float: right;
    width: 20em;
    display: inline;
    margin: 1em 1em 1em -22em;
}

.sidebox {
    margin-bottom: 1.5em;
}

#pageContent {
    margin: 1em;
    padding-top: 1em;
    min-height: 20em;
}

.content-with-sidebar {
    margin-right: 22em !important;
}

.post {
    background: #c4a000;
    padding: 1em;
    margin: 1em 0 1em 0;
}

#footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    clear: both;
    height: 4em;
}

.search {
    border: 1px solid #d4d4d4;
    color: #666;
    font-size: 1.0rem;
    height: 16px;
    width: 9em;
    line-height: 16px;
    float: right;
    padding: 1px 1px 1px 20px;
    margin: 4px 1em 0 0;
    background: #f4f4f4 url(../images/search-16x16.png) 2px 2px no-repeat;
}

.search-large {
    border: 1px solid #d4d4d4;
    color: #666;
    font-size: 1.6rem;
    height: 24px;
    width: 100%;
    box-sizing: border-box;
    line-height: 24px;
    padding: 1px 1px 1px 30px;
    background: #f4f4f4 url(../images/search-24x24.png) 2px 2px no-repeat;
}

.search-help {
    font-size: 1.3rem !important;
    margin-top: 8px;
}

.search-help code {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
    border: 1px solid #d4d4d4;
    background: #f4f4f4;
    padding: 1px;
}

.menu-box {
    margin: 0 1em;
    padding-top: 0.5em;
    height: 2.5em;
    line-height: 2.5em;
}

.menu-list-container {
    margin: 0;
}

.menu-list {
    margin-left: 1.25em;
}

.menu-list li {
    /*font-family: 'Open Sans Condensed', sans-serif !important;*/
    /*font-family: 'PT Sans Narrow', sans-serif !important;*/
    font-family: 'Cuprum', sans-serif !important;
    float: left;
    list-style: none;
    margin-right: 1.25em;
    padding: 0 0 1px 0;
    position: relative;
    top: 5px;
}

.menu-list li a {
    font-weight: normal;
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    display: block;
    float: left;
    height: 20px;
    overflow: hidden;
    /*margin: auto 2px;*/
    margin: 0;
    line-height: 22px;
}

.menu-list li .icon {
    position: relative;
    top: 3px;
}

.menu-list li.current {
    border-bottom: 3px solid #3B5998;
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border: 1px solid #b9b9b9;*/
    /*background-color: #b9b9b9;*/
}

.menu-list li.item-highlighted * {
    color: red;
}

.menu-list li a:hover, .menu-list li a:active, .menu-list li a:visited {
    border: none;
}

.live {
    margin: 1em;
}

.live li {
    margin-bottom: 0.5em;
}

.live li.last {
    margin-bottom: 0;
}

.live li .blog {
    color: rgb(0, 0, 0);
}

.live li .comments {
    color: #f00;
}

.notice {
    color: #888 !important;
}

.error {
    color: red;
}

.warning {
    color: #ff8c00;
}

.shiftUp {
    position: relative;
    top: -5px;
}

.caption-edit-link {
    float: right;
    font-size: 0.8em;
}

.filter-box {
    position: relative;
    height: 2em;
    margin: 0.25em 0;
}

.filter-box input {
    background: #f4f4f4 url(../images/filter-16x16.png) 2px 2px no-repeat;
    border: 1px solid #d4d4d4;
    height: 1.2em;
    line-height: 1em;
    position: absolute;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 1px 1px 1px 18px;
    right: 0;
}

.action-link img {
    vertical-align: middle;
}

.avatar {
    text-align: center;
    font-size: smaller;
}

/* Comments */

.comment {
    opacity: 1;
}

.comments {
    margin-top: 2em;
}

.comments .title {
    color: #3B5998 !important;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.comment-table {
    width: 100%;
    margin: 0.25em;
}

.comment-table td.left {
    /*vertical-align: top;*/
    text-align: center;
    width: 100px;
    padding: 0.5em;
}

.comment-table td.right {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
}

.comment-table .reply {
    position: relative;
    top: -1em;
}

.comment-table .reply .arrow {
    text-decoration: none;
    font-size: 1.5rem;
}

.comment-table .reply a {
    color: #B9B9B9 !important;
}

.comment-table .reply:hover a {
    color: inherit;
}

.comment-table .info {
    font-size: 0.8em;
    color: #B9B9B9;
    margin-bottom: 0.5em;
    position: relative;
}

.comment-table .info .item {
    margin-right: 0.5em;
}

.comment-table .info .item a {
    color: #B9B9B9 !important;
}

.comment-children li {
    margin: 0.1em 0 0.25em 4em;
}

.comment-content {
    line-height: 2rem;
    font-size: 1.3rem;
}

.comment-content .moveup .ttypography {
    position: relative !important;
    bottom: 0.8em !important;
}

.comment-bad {
    opacity: 0.3 !important;
}

.comment-too-bad {
    opacity: 0.3 !important;
}

.comment-bad:hover {
    opacity: 1 !important;
}

.comment-too-bad:hover {
    opacity: 1 !important;
}

.comment-content div.ttypography,
.comment-table div.ttypography {
    line-height: 20px;
    font-size: 1.3rem;
    position: relative;
    bottom: 2px;
}

.centered-message {
    margin: 5em auto;
    text-align: center;
    font-size: 1.5em;
}

.welldone {
    color: green;
    font-weight: bold;
}

.countdown {
    color: #777;
}

.highlighted-row td, .highlighted-row th {
    background-color: #def !important;
}

.file {
    margin: 0.5em;
    font-size: 1.1rem;
}

.file .name {
    font-weight: bold;
}

.file .text {
    background-color: #ddd;
}

.infoline {
    margin: 0.5em;
}

/* from-renderer */

.from-renderer {
    display: inline !important;
}

.from-renderer ul, ul.list {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0.5em 0 0.5em 2em;
    padding-left: 2em;
}

.from-renderer ol, ol.list {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0.5em 0 0.5em 2em;
    padding-left: 2em;
}

.from-renderer li, .list li {
    padding: 0 0 0 1em;
    list-style-position: outside;
    margin: 0.5em 0;
}

.from-renderer p {
    margin: 1.2em 0;
}

#edit_area_toggle_checkbox_label {
    font-size: 1.2rem;
    margin-left: 1em;
}

.red-link {
    background-color: #c00;
    color: white !important;
    font-weight: bold;
    padding: 0.2em;
}

.contest-state-phase {
    color: #3B5998;
    font-size: 1.5rem;
    font-weight: bold;
}

.contest-state-regular {
    font-size: 1.4em;
    color: #777 !important;
}

img.standings-flag {
    position: relative;
    top: 3px;
    margin-right: 0.35em;
}

.confirm-proto {
    margin: 1em;
}

.confirm-proto .text {
    padding-bottom: 1em;
}

.confirm-proto input {
    width: 6em;
    padding: 0.25em 0.5em;
    margin: 1em 1em 1em 1em;
}

.small {
    font-size: 1.0rem !important;
}

.small * {
    font-size: 1.0rem !important;
}

.smaller {
    font-size: 1.1rem !important;
}

.smaller * {
    font-size: 1.1rem !important;
}

.friendStar {
    /*position: relative;*/
    /*left: 0.25em;*/
    /*top: 0.25em;*/
}

.caption {
    margin: 0 0 1em 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3B5998;
}

.test-for-popup {
    margin: 1.5em 0 0 0;
}

.test-for-popup .test-header {
    font-weight: bold;
    font-size: 1.1rem;
}

.test-for-popup pre {
    border: 1px solid #aaa;
    background-color: #eee;
    font-size: 1.1rem;
}

.pagination {
    margin: 0 auto;
}

.pagination .inactive {
    font-size: 2em;
    color: #ccc;
}

.pagination a {
    text-decoration: none !important;
    color: black;
}

.pagination ul li {
    display: inline;
}

.pagination .page-index {
    padding: 0.25em;
}

.pagination span.active {
    border: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.pagination .arrow {
    font-size: 2em;
    color: black;
}

#datepick-div {
    z-index: 100000 !important;
}

div.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

div.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 20px;
    color: #333333;
}

@media screen and (max-width: 1024px) {
    .menu-list-container .search {
        display: none;
    }

    .menu-list li a {
        font-size: 1.4rem;
    }
}

span.participant {
    font-family: Arial, Helvetica, sans-serif;
}

.problems .accepted-problem td.act {
    background-color: #d4edc9 !important;
}

.problems .accepted-problem td.id {
    border-left: 6px solid #d4edc9 !important;
}

.problems .rejected-problem td.act {
    background-color: #ffe3e3 !important;
}

.problems .rejected-problem td.id {
    border-left: 6px solid #ffe3e3 !important;
}

.problems .submitted-verdict-problem td.act {
    background-color: #def !important;
}

.problems .submitted-verdict-problem td.id {
    border-left: 6px solid #def !important;
}

.problems td.act .act-item {
    margin: 0 0.35em;
}

.clickable-title {
    cursor: pointer;
}

.spoiler .spoiler-title {
    font-weight: normal;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.spoiler:before {
    width: 16px;
    height: 16px;
    content: " ";
    float: left;
    display: block;
    background: url("../images/icons/control.png") no-repeat;
    /*https://habracdn.net/habr/images/1456937768/spoiler.icon.png*/
}

.spoiler.spoiler-open:before {
    background: url("../images/icons/control-270.png") left bottom no-repeat;
    /*https://habracdn.net/habr/images/1456937768/spoiler.icon.png*/
}

.spoiler-content {
    border: 1px solid gray;
    background-color: #def;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.blog-entry-section-name {
    color: black;
    font-family: arial, verdana, sans-serif, 'Lucida Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.ajax-loading-gif {
    display: none;
    position: absolute;
    right: -24px;
    bottom: 0;
}

.additional-field {
    display: none;
}

.diagnostics-icon {
    color: #E65100;
    font-size: 110%;
    position: relative;
    top: 1px;
}
